/*

!.gitignore
!.travis.yml
!CHANGELOG.md
!README.md
!LICENSE
!checkstyle.xml
!pom.xml
!build.gradle
!settings.gradle

!art/

!menudrawer/
menudrawer/*
!menudrawer/src/
!menudrawer/res/
!menudrawer/AndroidManifest.xml
!menudrawer/pom.xml
!menudrawer/build.gradle

!menudrawer-samples/
menudrawer-samples/*
!menudrawer-samples/src/
!menudrawer-samples/res/
!menudrawer-samples/libs/
!menudrawer-samples/AndroidManifest.xml
!menudrawer-samples/pom.xml
!menudrawer-samples/build.gradle

!menudrawer-samples2/
menudrawer-samples2/*
!menudrawer-samples2/src/
!menudrawer-samples2/res/
!menudrawer-samples2/libs/
!menudrawer-samples2/AndroidManifest.xml
!menudrawer-samples2/pom.xml
!menudrawer-samples2/build.gradle


.DS_store
