/*

!.gitignore
!.travis.yml
!CHANGELOG.md
!README.md
!LICENSE
!checkstyle.xml
!pom.xml
!build.gradle
!settings.gradle
!gradle.properties
!gradlew
!gradlew.bat

!art/

!menudrawer/
menudrawer/*
!menudrawer/src/
!menudrawer/res/
!menudrawer/AndroidManifest.xml
!menudrawer/pom.xml
!menudrawer/build.gradle
!menudrawer/gradle.properties

!menudrawer-samples/
menudrawer-samples/*
!menudrawer-samples/src/
!menudrawer-samples/res/
!menudrawer-samples/libs/
!menudrawer-samples/AndroidManifest.xml
!menudrawer-samples/pom.xml
!menudrawer-samples/build.gradle

!menudrawer-samples2/
menudrawer-samples2/*
!menudrawer-samples2/src/
!menudrawer-samples2/res/
!menudrawer-samples2/libs/
!menudrawer-samples2/AndroidManifest.xml
!menudrawer-samples2/pom.xml
!menudrawer-samples2/build.gradle

!android-menudrawer-fragment-samples/
android-menudrawer-fragment-samples/*
!android-menudrawer-fragment-samples/src/
!android-menudrawer-fragment-samples/res/
!android-menudrawer-fragment-samples/libs/
!android-menudrawer-fragment-samples/AndroidManifest.xml
!android-menudrawer-fragment-samples/pom.xml
!android-menudrawer-fragment-samples/build.gradle

.DS_store
